@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/UbuntuLight.eot');
    src: url('../fonts/UbuntuLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/UbuntuLight.woff') format('woff'),
    url('../fonts/UbuntuLight.ttf') format('truetype'),
    url('../fonts/UbuntuLight.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/UbuntuRegular.eot');
    src: url('../fonts/UbuntuRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/UbuntuRegular.woff') format('woff'),
    url('../fonts/UbuntuRegular.ttf') format('truetype'),
    url('../fonts/UbuntuRegular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/UbuntuMedium.eot');
    src: url('../fonts/UbuntuMedium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/UbuntuMedium.woff') format('woff'),
    url('../fonts/UbuntuMedium.ttf') format('truetype'),
    url('../fonts/UbuntuMedium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}