@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/UbuntuBold.eot');
    src: url('/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/UbuntuBold.woff') format('woff'),
    url('/fonts/UbuntuBold.ttf') format('truetype'),
    url('/fonts/UbuntuBold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/UbuntuMedium.eot');
    src: url('/fonts/UbuntuMedium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/UbuntuMedium.woff') format('woff'),
    url('/fonts/UbuntuMedium.ttf') format('truetype'),
    url('/fonts/UbuntuMedium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/UbuntuRegular.eot');
    src: url('/fonts/UbuntuRegular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/UbuntuRegular.woff') format('woff'),
    url('/fonts/UbuntuRegular.ttf') format('truetype'),
    url('/fonts/UbuntuRegular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}