/*
Theme Name: Vnaturashku
Theme URI: https://vnaturashku.com
Author: Dmitriy Belov
Author URI: https://vnaturashku.com
Description: Пробный проект
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: white, blue, left-sidebar, right-sidebar
*/

html,
body {
	width: 100%;
}
html {
	height: 100%;
}
body {
	min-height: 100%;
	background-color: #edeef0;
}

.container {
	/*border: solid thin #ccc;*/
}
.wr-header {
	background-color: white;
	border: solid thin #ccc;
	border-radius: 3px;
	padding: 10px;
}
.wr-header nav {
    text-align: center;
}
.wr-post {
	margin-bottom: 10px;
	background-color: white;
	border: solid thin #ccc;
	border-radius: 3px;
	padding: 10px;
	/*display: inline-block;*/
	/*width: 300px;*/
	/*vertical-align: top;*/
}
.wr-sidebar {
	background-color: white;
	border: solid thin #ccc;
	border-radius: 3px;
	padding: 10px;
	background-image: url("./images/marvel-hulk.png");
}
.wr-sidebar a {
	display: block;
}
.wr-prev-img {
    /*height: 400px;*/
}
.wr-prev-img img {
    max-width: 80%;
    /*height: 100%;*/
}