/*
Theme Name: ElementSport
Theme URI: https://yosport.com
Author: Dmitriy Belov
Author URI: https://yosport.com
Description: Лайв проект
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: white, blue, left-sidebar, right-sidebar
*/

html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    min-height: 100%;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Ubuntu', sans-serif;
    background-color: #f4f8f9;
    /*font-size: 0px;*/

}
body.loading .glob_coll-right .main-cont:before {
    content: '';
    position: fixed;
    bottom: 50px;
    display: block;
    width: 100px;
    height: 100px;
    background-image: url("images/spin.gif");
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 9999;
    left: -5%;
    right: 0px;
    margin: 0px auto;
}
.zaglushka {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: white;
    background-image: url("http://elementsport.ru/wp-content/uploads/2017/01/imgpsh_fullsize-3.png");
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
}
.zaglushka + *, .zaglushka + * + *, .zaglushka + * + * + *{
    display: none;
}

header {
    /*height: 50px;*/
    width: 100%;
    background-color: white;
    padding-left: 250px;
    position: absolute;
    z-index: 100;
    /*box-shadow: 0px 6px 25px rgba(146,146,146,0.2);*/
}
header .wr-categor-solinks {
    font-size: 0px;
    /*padding-top: 22px;*/
}
header .wr-categor,
header .wr-solinks {
    display: inline-block;
    vertical-align: bottom;
    width: 77%;
    font-size: 15px;
    /*margin-bottom: 8px;*/
    /*margin: 59px 0px 0px;*/
    /*background-color: #f4f8f9;*/
    /*padding-left: 27px;*/
}
header .wr-solinks {
    width: 23%;
    padding-top: 20px;
    padding-bottom: 20px;
}
header .wr-categor {
    padding-left: 26px;
}
header .wr-categor a {
    display: inline-block;
    vertical-align: bottom;
    color: #5e5e5e;
    font-weight: 300;
    font-size: 15px;
    text-decoration: none;
    position: relative;
    padding: 7px 37px 10px 36px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left top;
}
header .wr-categor a:before {
    content: "";
    display: inline-block;
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 13px;
    top: 10px;
}
header .wr-categor a:hover,
header .wr-categor a.active {
    /*background-color: #f4f8f9;*/
    background-image: url("images/vklad-on.png");
}
header .wr-categor a.l-home {
    /*background-color: #f4f8f9;*/
}
header .wr-categor a.l-home:before {
    background-image: url("images/home_1.png");
}
header .wr-categor a.l-home.active:before,
header .wr-categor a.l-home:hover:before {
    background-image: url("images/home.png");
}
header .wr-categor a.l-video:before {
    background-image: url("images/video.png");
}
header .wr-categor a.l-video:hover:before,
header .wr-categor a.l-video.active:before {
    background-image: url("images/cat_img-7.png");
}
header .wr-categor a.l-insta:before {
    background-image: url("images/insta.png");
}
header .wr-categor a.l-insta:hover:before,
header .wr-categor a.l-insta.active:before {
    background-image: url("images/cat_img-6.png");
}
header .wr-categor a.l-kross:before {
    background-image: url("images/krossfit.png");
}
header .wr-categor a.l-kross:hover:before,
header .wr-categor a.l-kross.active:before {
    background-image: url("images/cat_img-5.png");
}
header .wr-categor a.l-raz:before {
    background-image: url("images/other.png");
}
header .wr-categor a.l-raz:hover:before,
header .wr-categor a.l-raz.active:before {
    background-image: url("images/cat_img-4.png");
}
header .wr-categor a.l-rec:before {
    background-image: url("images/recipe.png");
}
header .wr-categor a.l-rec:hover:before,
header .wr-categor a.l-rec.active:before {
    background-image: url("images/cat_img-3.png");
}
header .wr-categor b {
    display: inline-block;
    vertical-align: bottom;
    font-size: 19px;
    font-weight: 300;
    color: #5e5e5e;
    margin-left: 4%;
    margin-right: 1%;
    padding: 7px 0px;
}

header .wr-solinks {
    width: 23%;
    text-align: right;
    padding-right: 25px;
}
header .wr-solinks span {
    font-size: 19px;
    font-weight: 400;
    color: #5e5e5e;
}
header .wr-solinks a {
    display: inline-block;
    margin-left: 2%;
}

main {
    width: 100%;
    /*height: 1000px;*/
    background-color: transparent;
    position: relative;
}

.glob_coll-left {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1000;
    width: 250px;
    height: 100%;
    background-color: #fefefe;
    border-right: solid thin #e7eef0;
    /*padding-left: 24px;*/
    /*padding-top: 75px;*/
}
.glob_coll-right {
    padding-left: 250px;
    padding-top: 72px;
    height: 100%;
}
.glob_coll-left .wr-link.lg {
    text-align: left;
    padding: 14px 0px 13px 21px;
    background-image: url("images/orange-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.glob_coll-left .wr-link {
    position: relative;
}
.glob_coll-left .wr-link .item {
    display: block;
    color: #5e5e5e;
    font-size: 17px;
    font-weight: 300;
    padding: 15px 0px;
    padding-left: 57px;
    background-repeat: no-repeat;
    background-position: 25px center;
    text-decoration: none;
    border-left: 4px solid transparent;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.glob_coll-left .wr-link:hover .item {
    background-color: #ffe9d6;
    /*color: #7ace4c;*/
    border-color: #ff9806;
}
.glob_coll-left .wr-link:after {
    content: '';
    border: 25px solid transparent;
    border-right: 25px solid #eef8ff;
    position: absolute;
    right: 0px;
    top: 0px;
    display: none;
}
.glob_coll-left .wr-link:hover:after {
    display: block;
}
.glob_coll-left .wr-link:first-child:hover:after,
.glob_coll-left .wr-link:last-child:hover:after {
    display: none;
}
.glob_coll-left .wr-link:hover
.glob_coll-left .wr-link.active .item {
    background-color: #f1f9ec;
    color: #7ace4c;
    border-color: #66cd2e;
}
.glob_coll-left .wr-link .item.home-icon {
    background-image: url("images/home-icon.png");
    background-size: 18px 18px;
}
.glob_coll-left .wr-link:hover .item.home-icon,
.glob_coll-left .wr-link.active .item.home-icon {
    background-image: url("images/home-icon2.png");
}
.glob_coll-left .wr-link .item.icon-1 {
    background-image: url("images/left_bar-icon6.png");
}
.glob_coll-left .wr-link:hover .item.icon-1 {
    background-image: url("images/1_menu.png");
}
.glob_coll-left .wr-link .item.icon-2 {
    background-image: url("images/left_bar-icon1.png");
}
.glob_coll-left .wr-link:hover .item.icon-2 {
    background-image: url("images/2_menu.png");
}
.glob_coll-left .wr-link .item.icon-3 {
    background-image: url("images/left_bar-icon5.png");
}
.glob_coll-left .wr-link:hover .item.icon-3 {
    background-image: url("images/3_menu.png");
}
.glob_coll-left .wr-link .item.icon-4 {
    background-image: url("images/left_bar-icon4.png");
}
.glob_coll-left .wr-link:hover .item.icon-4 {
    background-image: url("images/4_menu.png");
}
.glob_coll-left .wr-link .item.icon-5 {
    background-image: url("images/left_bar-icon3.png");
}
.glob_coll-left .wr-link:hover .item.icon-5 {
    background-image: url("images/5_menu.png");
}
.glob_coll-left .wr-link .item.icon-6 {
    background-image: url("images/left_bar-icon2.png");
}
.glob_coll-left .wr-link:hover .item.icon-6 {
    background-image: url("images/6_menu.png");
}
.glob_coll-left .wr-link .item.icon-7 {
    background-image: url("images/7_menu.png");
}
.glob_coll-left .wr-link .item.icon-8 {
    background-image: url("images/left_bar-food.png");
    background-size: 17px 18px;
}
.glob_coll-left .wr-link:hover .item.icon-8 {
    background-image: url("images/left_bar-food2.png");
}
.glob_coll-left .wr-link .menu-hide {
    display: none;
    position: absolute;
    right: -161%;
    top: 0px;
    width: 400px;
    /*padding: 0px 10px;*/
    background-color: #eef8ff;
    font-size: 0px;
}
.glob_coll-left .wr-link .menu-hide a {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    height: 57px;
    color: #5e5e5e;
    font-size: 15px;
    font-weight: 300;
    padding: 0px 10px 0px 30px;
    position: relative;
    text-decoration: none;
    position: relative;

    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}
.glob_coll-left .wr-link .menu-hide a:before {
    content: '';
    display: block;
    position: absolute;
    width: 90%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px auto;
    border-bottom: 2px solid white;
}
.glob_coll-left .wr-link .menu-hide a:hover {
    background-color: #C6E6FB;
}
.glob_coll-left .wr-link .menu-hide a:hover:before {
    display: none;
}
.glob_coll-left .wr-link .menu-hide a span {
    display: inline-block;
    vertical-align: middle;
}
.glob_coll-left .wr-link .menu-hide a b {
    display: inline-block;
    height: 100%;
    width: 0px;
    vertical-align: middle;
}
/*.glob_coll-left .wr-link .menu-hide a:after {*/
    /*content: '';*/
    /*display: block;*/
    /*position: absolute;*/
    /*right: 0px;*/
    /*top:0px;*/
    /*bottom: 0px;*/
    /*border-right: 5px solid #6dbcf0;*/
    /*opacity: 0;*/
/*}*/
/*.glob_coll-left .wr-link .menu-hide a:hover:after {*/
    /*opacity: 1;*/
/*}*/
/*.glob_coll-left .wr-link .menu-hide a:last-child {*/
    /*border: none;*/
/*}*/
/*.glob_coll-left .wr-link .menu-hide a:last-child:before {*/
    /*display: none;*/
/*}*/
.glob_coll-left .wr-link:hover .menu-hide {
    display: block;
}
.glob_coll-left .splitter {
    border-bottom: solid thin #ccc;
    width: 192px;
    opacity: 0.5;
    margin: 10px 0px 10px 28px;
}

.glob_coll-right {
    font-size: 0px;
}
.glob_coll-right .main-cont {
    padding: 25px 0px 0px 1.6%;
    width: 80%;
    display: inline-block;
    vertical-align: top;
    font-size: 0px;
    position: relative;
}
.glob_coll-right .glob-sidebar {
    width: 20%;
    display: inline-block;
    vertical-align: top;
}
.glob_coll-right .glob-sidebar .wr-interesting {
    background-color: white;
    border-radius: 3px;
    color: #313131;
    font-size: 15px;
    padding: 17px 6% 22px;
    width: 92%;
    margin-top: 99px;
    box-shadow: 0px 6px 25px rgba(146,146,146,0.2);
}
.glob_coll-right .glob-sidebar .wr-interesting p.name {
    padding-bottom: 13px;
    border-bottom: solid thin #DADADA;
    margin: 0px 0px 13px;
    line-height: 100%;
}
.glob_coll-right .glob-sidebar .wr-interesting p.name a {
    font-size: 20px;
    font-weight: 400;
    color: #313131;
    text-decoration: none;
}
.glob_coll-right .glob-sidebar .wr-interesting p.name a:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 14px;
    background-image: url("images/star.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-right: 8px;
}
.glob_coll-right .glob-sidebar .wr-interesting .item {
    position: relative;
    padding-bottom: 18px;
    margin-bottom: 12px;
}
.glob_coll-right .glob-sidebar .wr-interesting .item:last-child {
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.glob_coll-right .glob-sidebar .wr-interesting .item:after {
    content: '';
    display: block;
    background-image: url("images/kvad.png");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 6px;
}
.glob_coll-right .glob-sidebar .wr-interesting .item:last-child:after {
    display: none;
}
.glob_coll-right .glob-sidebar .wr-interesting .item a {
    color: #636363;
    font-size: 15px;
    line-height: 19px;
    display: inline-block;
    position: relative;
    padding-left: 22px;
}
.glob_coll-right .glob-sidebar .wr-interesting .item a b {
    color: #ffb922;
    display: inline-block;
    position: absolute;
    left: 0px;
    font-weight: 500;
}

.column_1,
.column_2 {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding-right: 2%;
}

.wr-search-lastcom {
    margin-bottom: 37px;
}
.wr-search-lastcom .wr-search,
.wr-search-lastcom .wr-lastcom {
    display: inline-block;
    vertical-align: top;
}
.wr-search-lastcom .wr-lastcom {
    margin-left: 16%;
    font-size: 15px;
}
.wr-search-lastcom .wr-lastcom button {
    background-color: white;
    border: solid thin #E2E2E2;
    border-radius: 25px;
    padding: 5px 21px 7px;
    outline: none;
}
.wr-search-lastcom .wr-lastcom button img:first-child {
    display: inline-block;
    vertical-align: bottom;
}
.wr-search-lastcom .wr-lastcom button img:last-child {
    display: inline-block;
    vertical-align: middle;
}
.wr-search-lastcom .wr-lastcom button span {
    font-size: 16px;
    font-weight: 300;
    color: #5e5e5e;
    display: inline-block;
    vertical-align: middle;
    padding-right: 7px;
    position: relative;
    margin-left: 7px;
    padding-left: 12px;
    line-height: 100%;
}
.wr-search-lastcom .wr-lastcom button span:before {
    content: '|';
    color: #B3B3B3;
    display: inline-block;
    font-weight: 100;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto 0px;
}
.wr-search-lastcom .wr-search #searchform {
    position: relative;
    width: 260px;
}
.wr-search-lastcom .wr-search #searchform input[type="text"] {
    border-radius: 14px;
    width: 100%;
    outline: none;
    border: solid thin #E2E2E2;
    padding: 3px 45px 3px 15px;
    background-color: #FCFCFC;
}
.wr-search-lastcom .wr-search #searchform input[type="text"]:focus {
    background-color: white;
}
.wr-search-lastcom .wr-search #searchform #searchsubmit {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #6dbcf0;
    border: none;
    background-image: url("images/search.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 45px;
    height: 100%;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}

.post {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin: 0px 3% 0px 0px;
    min-height: 350px;
    background-color: white;
    margin-bottom: 25px;
    box-shadow: 0px 6px 25px rgba(146,146,146,0.2);
    padding: 0px 2.5% 15px;
    position: relative;
    border-radius: 3px;
}
.post a.post_cat {
    position: absolute;
    display: block;
    width: 48px;
    height: 54px;
    right: 17px;
    top: -1px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.post h2 {
    margin: 0px;
    /*padding-right: 11%;*/
    line-height: 20px;
}
.post h2 a {
    font-size: 20px;
    font-weight: 400;
    color: #313131;
    /*display: inline-block;*/
    /*vertical-align: middle;*/
}
.post h2 a:hover {
    text-decoration: none;
}
.post .wr-post-header {
    padding: 15px 68px 14px 0px;
    border-bottom: solid thin rgba(204,204,204,0.5);
    position: relative;
}
.post .wr-post-header .small-line {
    position: absolute;
    right: 63px;
    height: 64%;
    border-right: solid thin rgba(204,204,204,0.8);
    margin: auto 0px;
    top: 0px;
    bottom: 0px;
}
.post .wr-post-header img {
    position: absolute;
    right: 11px;
    width: 30px;
    top: 0px;
    bottom: 0px;
    margin: auto 0px;
}
.post .post_time {
    color: #AEAEAE;
    margin: 11px 0px 7px 0px;
    line-height: 4px;
    font-size: 13px;
    font-weight: 400;
}
.post .post_time b {
    color: rgba(107, 107, 107, 0.5);
    font-weight: 100;
    display: inline-block;
    margin: 0px 7px;
}
.post .post_time span {
    color: #AEAEAE;
}
.post .post_time a {
    color: #6dbcf0;
    font-weight: 400;
}
.post .post_link-img {
    display: block;
    max-height: 400px;
    overflow: hidden;
}
.post .post_link-img img {
    width: 100%;
    height: auto;
}
.post .post_prev {
    font-size: 17px;
    margin: 15px 0px 0px;
}
.post .post_prev-text {
    padding: 17px 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
}
.post .post_prev-text p {
    color: #313131;
}

.post.post-full {
    display: block;
    width: 90.7%;
    margin: 0px auto;
    max-width: 1185px;
}
.post.post-full h1 {
    margin: 0px;
    line-height: 23px;
}
.post.post-full h1 a {
    font-size: 29px;
    font-weight: 500;
    color: #313131;
}
.post.post-full h1 {
    text-align: center;
    padding: 24px 0px 7px;
}
.post.post-full h2 {
    font-weight: 500;
    line-height: 100%;
    padding: 14px 0px;
    font-size: 24px;
    color: #313131;
}
.post.post-full h3 {
    font-size: 20px;
}
.post.post-full .post_prev {
    padding: 0px 20px;
}
.post.post-full img {
    display: block;
    max-width: 500px;
    max-height: 600px;
    margin: 0px auto;
}
.post.post-full p {
    font-size: 16px;
    line-height: 26px;
    color: #232323;
}
.post.post-full p strong {
    font-weight: 500;
    font-size: 18px;
}
.post.post-full .post_prev iframe {
    display: block;
    margin: 18px auto 0px;
}

.wr-comment-trig {
    background-color: white;
    padding: 10px 25px;
    margin-bottom: 20px;
}
.wr-comment-trig b {
    display: inline-block;
    vertical-align: middle;
    font-size: 25px;
}
.wr-comment-trig span {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 30px;
    cursor: pointer;
    background-image: url("images/click_news.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.wr-comment-trig span.active {
    background-image: url("images/click_news_on.png");
}

.disp-on-mobile {
    display: none;
}
.main-cont .wr-up {
    position: absolute;
    display: inline-block;
    right: 0px;
    bottom: 0px;

}
.main-cont a.up {
    display: none;
    position: fixed;
    bottom: 22px;
    margin-left: 1px;
    width: 56px;
    height: 56px;
    background-color: #fbb079;
    border-radius: 4px;
}
.main-cont a.up img {
    width: 100%;
}
.glob_coll-right .glob-sidebar .wr-interesting.fix {
    position: fixed;
    padding: 17px 18px 22px;
    margin: 23px 0px 0px 0px;
    top: -4px;
    width: 16%;
}
.kama_breadcrumbs {
    font-size: 14px;
    width: 90.7%;
    margin: 0px auto 7px;
    max-width: 1185px;
}
.kama_breadcrumbs a {
    color: #636363;
}
.kama_breadcrumbs span.kb_title {
    color: #42AEF5;
}
.post-template-default .wr-search-lastcom {
    text-align: center;
    margin-bottom: 10px;
}
.post-template-default .wr-search-lastcom .wr-search {
    display: none;
}
.post-template-default .wr-search-lastcom .wr-lastcom {
    text-align: center;
    margin-left: 0%;
}
body.page-child .wr-search-lastcom {
    text-align: center;
    margin-bottom: 10px;
}
body.page-child .wr-search-lastcom .wr-search {
    display: none;
}
body.page-child .wr-search-lastcom .wr-lastcom {
    text-align: center;
    margin-left: 0%;
}

@media (max-width: 1530px) {
    .glob_coll-left {
        width: 70px;
        position: fixed;
    }
    .glob_coll-right .glob-sidebar .wr-interesting.fix {
        width: 17.5%;
    }
    header,
    .glob_coll-right {
        padding-left: 70px;
    }
    .glob_coll-left .wr-link .item {
        padding: 15px 0px;
        overflow: hidden;
        padding-left: 70px;
        border-left: none;
        width: 69px;
        height: 54px;
    }
    .glob_coll-left .wr-link .menu-hide {
        right: -400px;
    }
    .glob_coll-left .wr-link:after {
        border-right: 14px solid #eef8ff;
        border-left: 0px;
    }
    .glob_coll-left .splitter {
        width: 50px;
        margin: 10px auto;
    }
    .glob_coll-left .wr-link.lg {
        text-align: center;
        padding: 8px 15px 6px;
    }
    .glob_coll-left .wr-link.lg a {
        display: inline-block;
        width: 41px;
        overflow: hidden;
    }

}
@media (max-width: 1364px) {
    .main-cont a.up {
        margin-left: 38px;
        bottom: 32px;
    }
    .disp-on-mobile {
        /*display: block;*/
    }
    .glob_coll-right .main-cont {
        width: 63%;
    }
    .glob_coll-right .glob-sidebar {
        width: 37%;
    }
    .glob_coll-right .glob-sidebar .wr-interesting {
        width: 300px;
        margin: 23px 0px 0px 8%;
    }
    .glob_coll-right .glob-sidebar .wr-interesting.fix {
        margin: 23px 0px 0px 39px;
    }
    .main-cont.main_pg-post .columns-1 {
        text-align: right;
    }
    .main-cont.main_pg-post .columns-1 .post {
        width: 657px;
        margin: 0px 0px 21px;
        text-align: left;
    }
    header .wr-categor,
    header .wr-solinks {
        width: 85%;
    }
    header .wr-solinks {
        width: 15%;
        text-align: center;
        padding-right: 16px;
        padding-top: 3px;
        padding-bottom: 9px;
    }
    header .wr-solinks span {
        display: block;
        padding: 5px 0px;
        font-size: 17px;
    }
    header .wr-solinks a {
        margin: 0px;
    }
    header .wr-solinks a:nth-child(3) {
        margin: 0px 4%;
    }
    .glob_coll-left .wr-link .menu-hide a {
        height: 60px;
        font-size: 15px;
    }
    header .wr-categor b {
        margin-left: 1%;
    }
}
.disp-on-mob {
    display: none;
}
@media (max-width: 1199px) {
    header .wr-categor,
    header .wr-solinks {
        font-size: 0px;
    }
    header .wr-categor {
        float: left;
        width: 460px;
        margin: 9px 0px 4px;
    }
    header .wr-solinks {
        float: right;
        width: 230px;
        padding: 0px;
        margin-top: 10px;
    }
    header .wr-categor b {
        display: none;
    }
    .disp-on-mob {
        display: block;
        clear: both;
    }
    header .wr-categor a {
        width: 31%;
        border-radius: 3px;
        margin: 0px 5px 5px !important;
    }
    header .wr-categor a:hover,
    header .wr-categor a.active {
        background-image: none;
        background-color: #f4f8f9;
    }
}